.login {
    min-height: 100vh;
    background: url(/background.png) no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-family: Arial, sans-serif;
}

.logo {
    width: 150px;
    margin-bottom: 20px;
}

.login-form {
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.login-form h2 {
    color: #fff;
    margin-bottom: 20px;
}

.form-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    outline: none;
}

.form-input::placeholder {
    color: #ddd;
}

.login button {
    background: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    font-size: 16px;
}

button:hover {
    background: #0056b3;
}

.login-term {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 14px;
}

.login-term input {
    margin-right: 5px;
}

.login-forget {
    margin-top: 15px;
    font-size: 14px;
}

.login-toggle span {
    color: #00c3ff;
    cursor: pointer;
    font-weight: bold;
}

.login-toggle span:hover {
    text-decoration: underline;
}